body{
  overflow: hidden;
}

.page{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
 
.page,.title{
  font-size: 30px;
  color: rgb(17, 9, 159);
  margin-bottom: 15px;
  font-weight: 700;
} 

.page,.live-demo-title{
  margin-top: 15px;
  margin-bottom: 15px;
  color: rgb(17, 9, 159);
  font-size: 15px;
  font-weight: 600;
}

.buttonContainer{
  display:flex;
  flex-direction: row;
  gap: 15px;
}

.tab-button{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 35px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 15px;
  color:#838690;
  background: linear-gradient(0deg,rgb(203, 201, 201),rgb(255, 255, 255));  
  border: solid 1px #c6cad6;
  flex: 0 1 auto;
}

.tab-button-active{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 35px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 15px;
  color:#FFFFFF;  
  background: linear-gradient(0deg,#0d70ea,#0dccea); 
  border: solid 1px #c6cad6;
  flex: 0 1 auto;
}

.tab-button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

.tab-content{
  position: fixed;
  top:120px;
  bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;  
  color: black;
  font-size: 20px;
  font-weight: 100;
  overflow-y: auto;
}
.tab-content,.description{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 15px;
}