.custom-flex-input-mask1{
    border: none;
}

.custom-flex-input-mask2{
    border-color: green;
}

.custom-flex-input-mask2 > .fim-root__section > .fim-root__symbol_edited{
    color:blue;
}

.custom-flex-input-mask2 > .fim-root__section >.fim-root__delimiter{
    color:red;
} 