.flex-input-mask{
    display: flex;
    border: solid 1px #c6cad6;
    margin-bottom: 10px;
}

.flex-input-mask,section{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-input-mask,.persistant{
    color:#7472a1;
    font-weight: 100;
}

.flex-input-mask,.input{
    color:#c6cad6;
    font-weight: 400;
}

.flex-input-mask,.inputEdited{
    color:black;
}


.flex-input-mask,.input:focus{
    outline-color:red;
}

.flex-input-mask,.inputEdited:focus{
    outline-color:red;
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
}

.flex-input-mask,.delimiter{
    color:red
    ;
}



