.flex-input-mask{
    display: flex;
    border: solid 1px #c6cad6;
    margin-bottom: 10px;
}

.flex-input-mask,section{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
 
.flex-input-mask,.persistant{
    color:#7472a1;
    font-weight: 100;
}

.flex-input-mask,.input{
    color:#c6cad6;
    font-weight: 400;
}

.flex-input-mask,.inputEdited{
    color:black;
}


.flex-input-mask,.input:focus{
    outline-color:red;
}

.flex-input-mask,.inputEdited:focus{
    outline-color:red;
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
}

.flex-input-mask,.delimiter{
    color:red;
}

/*****************************************/

.fim-root{
    border: solid 1px #c6cad6;
}

.fim-root:focus,.fim-root:focus-visible{
    border: solid 3px #c6cad6;
}


.fim-root__section{
    display: inline-block;
    text-decoration-style: none;
    font-size: 30px;
}

.fim-root__symbol{
    display: inline-block;
    color:#c6cad6;   
}

.fim-root__symbol_edited{
    color:black;   
}


.fim-root__delimiter{
    display: inline-block;
    color:#7472a1;  
}

.fim-root__symbol_focusedReplace{
    border: solid 2px red;
}   

.fim-root__symbol_focusedInsert{
    border-left: solid 2px red;
}   


.fim-root__symbol_emptyTerminated{
    width: 2px;
    height: 20px;
}


